@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Simple Commerve</title>
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    @* <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" /> *@
    @* <link rel="stylesheet" href="~/dotnet_mvc.styles.css" asp-append-version="true" /> *@
    <link rel="stylesheet" href="~/css/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

</head>

<body>
    <header>
        <div x-data="navbar">
            <div id="navbar-transparent-wrapper"
                class="fixed left-0 top-0 z-40 w-full transition-all duration-300 bg-white shadow-md">
                <div
                    class="flex md:flex-row flex-col container mx-auto xl:max-w-screen-xl lg:max-w-screen-lg justify-between items-center px-4 py-2">
                    <a href="/" class="hidden md:inline">
                        <h5 class="text-xl font-bold">Simple</h5>
                        <h5 class="text-xl font-bold">Commerce</h5>
                    </a>
                      <a href="/" class="md:hidden inline">
                        <h5 class="text-xl font-bold">Simple Commerce</h5>
                    </a>
                    <!-- Navbar links for larger screens -->
                    <div id="nav-wrapper" class="flex gap-x-4 font-medium text-gray-700 items-center">
                        <a asp-controller="Product" asp-action="Index"
                            class="text-green-700 font-medium hover:text-green-400">
                            Product
                        </a>
                        <a asp-controller="Cart" asp-action="Index"
                            class=" text-green-700 font-medium hover:text-green-400">
                            Cart
                        </a>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <div class="relative">
                                <div>
                                    <button type="button"
                                        class="relative flex text-green-700 font-medium hover:text-green-400"
                                        id="user-menu-button" aria-expanded="false" aria-haspopup="true">
                                        Hi, @User.Identity.Name
                                    </button>
                                </div>
                                <div class="absolute hidden right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
                                    role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1"
                                    id="user-menu-dropdown">
                                    <!-- Active: "bg-gray-100", Not Active: "" -->
                                    <form asp-controller="Auth" asp-action="Logout" method="post" class="navbar-right">
                                        <button type="submit" class="block px-4 py-2 text-sm text-gray-700 hover:text-green-400">Logout</button>
                                    </form>
                                </div>
                            </div>
                        }
                        else
                        {
                            <a asp-controller="Auth" asp-action="Login" class="btn btn-link navbar-right">Login</a>
                        }
                    </div>
                </div>
            </div>
    </header>
    <div class="min-h-screen">
        <main role="main" class="">
            @RenderBody()
        </main>
    </div>

    <footer class="bg-gray-800">
        <div class="container xl:max-w-screen-xl lg:max-w-screen-lg px-4 mx-auto py-10">
            <div class="grid lg:grid-cols-6 grid-cols-2 gap-2">
                <div class="col-span-2">
                    <div class="text-yellow-200 text-xl font-bold">
                        <h5 class="mb-0">Simple</h5>
                        <h5>Commerce</h5>
                    </div>
                    <p class="text-white">Offering top-quality products at unbeatable prices.</p>
                </div>
            </div </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

<script>
    $(document).ready(function () {
        $('#user-menu-button').click(function (event) {
            event.stopPropagation(); // Prevent the click event from propagating up the DOM
            $('#user-menu-dropdown').toggleClass('hidden');
        });

        $(document).click(function (event) {
            var $target = $(event.target);
            if (!$target.closest('#user-menu-button').length && !$target.closest('#user-menu-dropdown').length) {
                $('#user-menu-dropdown').addClass('hidden');
            }
        });
    })
</script>

</html>
